.text {
    color: #4B102D;
  
  }
  .text h3{
  text-align: center;
  font-size: 4.5vw;
  color: #4B102D;
  text-size-adjust: 100% ;
  font-family: 'Hahmlet', serif;  
  }
  
  .text h1{
    text-align: center;
    font-size: 7vw;
    color: #4B102D;
    text-size-adjust: 100% ;
    font-family: 'Hahmlet', serif;
  } 
  /* Ajustes para la sección de división */