
.carruselDesayuno{
  height: 500px;

}
.text {
  color: #4B102D;
  }
.parrafoDesayunos{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#4B102D ;
  font-family: 'Hahmlet', serif;
  line-height:1.8;
}
.desayunos{
  color: #4B102D;
  font-family: 'Italianno' ;
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 100px;

} 


@media (max-width: 768px) {


    .parrafoDesayunos{
      font-size: 2.5vh;
      text-size-adjust: 100% ;
      line-height: 3vh;
  }
      
  .desayunos{

    text-size-adjust: 100% ;
    font-size: 60px;
    line-height: 57.6px;
    padding-top: 50px;    
  } 
  .carruselDesayuno{
    height: 200px;

  }
  
}
@media (min-width: 768px) {

  .parrafoDesayunos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#4B102D ;
    
    font-family: 'Hahmlet', serif;
    font-size: 2rem;
    font-weight: 400;
    height: 150px;
    line-height:1.5;

  }
      
  .desayunos{

    text-size-adjust: 100% ;
    font-size: 7vh;
    padding: 50px 0 50px 250px;

  } 

  .carruselDesayuno{
    height: 500px;

  }
}
@media (min-width: 2560px) {

    .parrafoDesayunos{
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 1.5rem;
  }
      
  .desayunos{
    text-size-adjust: 100% ;
    font-size: 15rem;
    padding-top: 50px;    
  } 

  .carruselDesayuno{
    height: 800px;

  }
  
}
