
.carruselDesayuno{
  height: 500px;

}
.text {
  color: #4B102D;
  }
.parrafoDesayuno{
  text-align: center;
  font-family: 'Hahmlet', serif;  
  color: #4B102D;
}
.desayunos{
  text-align: center;
  color: #4B102D;
  font-family: 'Italianno' ;
} 

@media (max-width: 768px) {


    .parrafoDesayuno{
    font-size: 2.5vh;
    text-size-adjust: 100% ;
    line-height: 3vh;
  }
      
  .desayunos{

    text-size-adjust: 100% ;
    font-size: 60px;
    line-height: 57.6px;
    padding-top: 50px;    
  } 
  .fondo{
    background-image: url('img/fondo-cupcakes.jfif');
    height: 400px;

  }
  .carruselDesayuno{
    height: 200px;

  }
  
}
@media (min-width: 768px) {

    .parrafoDesayuno{
    font-size: 4.5vh;
    text-size-adjust: 100% ;
    width: 100%;
    line-height: 57.6px;

  }
      
  .desayunos{

    text-size-adjust: 100% ;
    font-size: 10vh;
    padding-top: 70px;
    padding-bottom: 50px;

  } 
  .fondo{
    background-image: url('img/fondo-cupcakes.jfif');
    height: 700px; 
  }
  .carruselDesayuno{
    height: 500px;

  }
}
@media (min-width: 2560px) {

    .parrafoDesayuno{
    font-size: 4rem;
    text-size-adjust: 100% ;
    line-height: 5vh;
  }
      
  .desayunos{
    text-size-adjust: 100% ;
    font-size: 15rem;
    padding-top: 50px;    
  } 
  .fondo{
    background-image: url('img/fondo-cupcakes.jfif');
    height: 1200px;
  }
  .carruselDesayuno{
    height: 800px;

  }
  
}
