.carruselCocteleria{
  height: 500px;

}
.fondo{
  background-image: url('img/fondo-cupcakes.jfif');
  
}


/* Agrega reglas de medios para hacerlo responsivo */
@media (max-width: 768px) {
  
  .text {
    color: #4B102D;
    }
    .parrafoCocteleria{
    text-align: center;
    font-size: 2.5vh;
    text-size-adjust: 100% ;
    font-family: 'Hahmlet', serif;  
    line-height: 3vh;
    color: #4B102D;
    margin-bottom: 0px;
  }
      
  .cocteleria{
    text-align: center;
    color: #4B102D;
    text-size-adjust: 100% ;
    font-family: 'Italianno' ;
    font-size: 60px;
    line-height: 57.6px;
    padding-top: 50px;    
  } 
  .fondo{
    background-image: url('img/fondo-cupcakes.jfif');
    height: 400px;

  }
  .carruselCocteleria{
    height: 200px;

  }
  
  
}
@media (min-width: 768px) {
  .text {
    color: #4B102D;
    }
    .parrafoCocteleria{
    text-align: center;
    font-size: 4.5vh;
    text-size-adjust: 100% ;
    font-family: 'Hahmlet', serif;  
    color: #4B102D;
    /* ... tus estilos actuales ... */
    width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    line-height: 57.6px;

  }
  .carruselCocteleria{
    height: 500px;

  }
      
  .cocteleria{
    text-align: center;
    color: #4B102D;
    text-size-adjust: 100% ;
    font-family: 'Italianno' ;
    font-size: 10vh;
    padding-top: 70px;
    padding-bottom: 20px;

  } 
  .fondo{
    background-image: url('img/fondo-cupcakes.jfif');
    height: 700px; 
  }
}
@media (min-width: 2560px) {

  
  .text {
    color: #4B102D;
    }
    .parrafoCocteleria{
    text-align: center;
    font-size: 5rem;
    text-size-adjust: 100% ;
    font-family: 'Hahmlet', serif;  
    line-height: 5vh;
    color: #4B102D;
  }
      
  .cocteleria{
    text-align: center;
    color: #4B102D;
    text-size-adjust: 100% ;
    font-family: 'Italianno' ;
    font-size: 15rem;
    padding-top: 50px;    
  } 
  .fondo{
    background-image: url('img/fondo-cupcakes.jfif');
    height: 1200px;
  }
  .carruselCocteleria{
    height: 800px;

  }
  
}