.text-center1 {
    color: #4B102D;
  
  }
  .parrafoCocteleria{
  text-align: center;
  font-size: 3vh;
  text-size-adjust: 100% ;
  font-family: 'Hahmlet', serif;  
  line-height: 3vh;
  }
  
  .cocteleria{
    text-align: center;
    color: #4B102D;
    text-size-adjust: 100% ;
    font-family: 'Italianno' ;
    font-size: 9vh;
    line-height: 57.6px;
    padding-top: 50px;
    
  } 
