.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 50%;
  height: auto;
}
.carruselCocteleria{
  height: 500px;

}
.fondo{
  background-image: url('img/fondo-cupcakes.jfif');
  
}


/* Agrega reglas de medios para hacerlo responsivo */
@media (max-width: 768px) {
  
  .whatsapp-float {
    bottom: 15px;
    right: 15px;
  }
  .whatsapp-float {
    position: fixed;
    bottom: 150px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  .text {
    color: #4B102D;
    }
    .parrafoCocteleria{
    text-align: center;
    font-size: 2.5vh;
    text-size-adjust: 100% ;
    font-family: 'Hahmlet', serif;  
    line-height: 3vh;
    color: #4B102D;
    margin-bottom: 0px;
  }
      
  .cocteleria{
    text-align: center;
    color: #4B102D;
    text-size-adjust: 100% ;
    font-family: 'Italianno' ;
    font-size: 60px;
    line-height: 57.6px;
    padding-top: 50px;    
  } 
  .fondo{
    background-image: url('img/fondo-cupcakes.jfif');
    height: 400px;

  }
  .carruselCocteleria{
    height: 200px;

  }
  
  
}
@media (min-width: 768px) {
  .whatsapp-float img {
    width: 50%;
    height: auto;
  }
  .whatsapp-float {
    position: fixed;
    bottom: 170px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  .text {
    color: #4B102D;
    }
    .parrafoCocteleria{
    text-align: center;
    font-size: 4.5vh;
    text-size-adjust: 100% ;
    font-family: 'Hahmlet', serif;  
    color: #4B102D;
    /* ... tus estilos actuales ... */
    width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    line-height: 57.6px;

  }
  .carruselCocteleria{
    height: 500px;

  }
      
  .cocteleria{
    text-align: center;
    color: #4B102D;
    text-size-adjust: 100% ;
    font-family: 'Italianno' ;
    font-size: 10vh;
    padding-top: 70px;
    padding-bottom: 20px;

  } 
  .fondo{
    background-image: url('img/fondo-cupcakes.jfif');
    height: 700px; 
  }
}
@media (min-width: 2560px) {
  .whatsapp-float {
    bottom: 15px;
    right: 15px;
  }
  .whatsapp-float {
    position: fixed;
    bottom: 150px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  .text {
    color: #4B102D;
    }
    .parrafoCocteleria{
    text-align: center;
    font-size: 5rem;
    text-size-adjust: 100% ;
    font-family: 'Hahmlet', serif;  
    line-height: 5vh;
    color: #4B102D;
  }
      
  .cocteleria{
    text-align: center;
    color: #4B102D;
    text-size-adjust: 100% ;
    font-family: 'Italianno' ;
    font-size: 15rem;
    padding-top: 50px;    
  } 
  .fondo{
    background-image: url('img/fondo-cupcakes.jfif');
    height: 1200px;
  }
  .carruselCocteleria{
    height: 800px;

  }
  
}