:root{
    --color-principal: #B8226A;
    --color-segundo: #F8E5DF;
    --color-tercero: #FFA041;
    --color-text:#4B102D;
    --texto-h1: 48px;
    --texto-h2: 30px;
    --texto-h3:15px;
    --texto-h4: 10px;
    --texto-parrafos:18px;
    --texto-btn:24px
  }
a.nav-link{
  color: var(--color-segundo);
}


img.LoretoIdeas{
  max-width: 3rem;
  
}

img.logo {
  max-width: 2rem;
  
}

img.carrito{
  max-width: 2.2rem;
}
span.navbar-toggler-icon{
  color: var(--color-segundo);
}

.div-con-linea {
  height: 45px;
  border-left: 1.9px dashed #F8E5DF80;
}


/* NavBarPage.css */
.Navbar {
    background-color: var(--color-principal); 
    color: var(--color-segundo);
}

.navbar-toggler:focus{
  box-shadow: none;
}

@media(min-width: 992px){
  img.LoretoIdeas{
    margin-left: 20px;
    margin-right: 30px;
    max-width: 3rem;
  }
  img.logo{
    margin-left: 300px;
    margin-right: 15px;
  }
  img.carrito{
    margin-left: 15px;
    margin-right: 15px;
  }
  input.form{
    margin-left: 280px;
    width: 200px;
    height: 40px;
    border-radius: 60px;
  }
  .link{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  .link :hover{
    color: blue;
  }
  .contenedor{
    justify-content: space-evenly;
  }
   
  
}

@media (min-width: 768px) and (max-width: 991px){
  img.carrito{
    position:relative;
  }
  img.logo{
    position: relative;
    margin-left: 170px;
  }
  img.LoretoIdeas{
    position: relative;
    

    
  }
  .link{
    color: white;
    text-decoration: none;
    margin-top: 0px;
  }

  .contenedor{
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
  }

}

@media (max-width: 767px) {
  img.carrito{
    position:relative;
  }
  img.logo{
    position: relative;
  }
  img.LoretoIdeas{
    position: relative;
    margin-right: 110px;
    
  }
  .link{
    color: white;
    text-decoration: none;
    margin-left: 3%;
  }

  .contenedor{
    justify-content: space-evenly;
  }
  
}
