@import url('https://fonts.googleapis.com/css2?family=Italianno');

@media (max-width: 768px) {
  .carrusel-inicio {
    max-height: 150px;
    background-size: contain;
  }
  .caja-texto{
    color:#4B102D ;
    padding: 0 20px 0px 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Hahmlet', serif;
    font-size: 15px;
    height: 50px;
  }
  .navbar{
    background-color:#B8226A ;
  }
  .contenedor-principal-texto{
    padding: 0;
  }
  .img-cuadricula{
    height: 150px;
    width: 100%;
  }
  .botones-inicio{
    height: 60px;
    margin: 10px 0 5px 0;
    width: 100%;
  }
  .contendor-boton{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0px 6px 4px rgba(199, 48, 111, 0.705);
    box-shadow: #B8226A;
    height: 55px;
    width: 55px;
    margin: auto;
    background-color: #B8226A;
    align-items: center;
  }
  .boton-inicio-img{
    height: 45px;
    width: 45px;
    justify-content: center;
    border: 3px dotted #FFA041;
    background-color: #B8226A;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #B8226A(0, 0, 0, 0.3);
  }
  .texto-botones-inicio{
    margin: auto;
  }
  .titulo-boton{
    font-size: 30px;
    text-align: center;
    font-family: 'Italianno';
    font-weight: 500;
    color: #4B102D;
    margin: 0;
    text-decoration: none;
  }
  .titulo-boton:hover{
    color: #FFA041;
  }
  .contenedor-texto{
    height: 45px;
    text-align: center;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
    visibility: hidden;
  }
  
}

@media (min-width: 768px) {
  .carrusel-inicio {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .caja-texto{
    color:#4B102D ;
    margin: 5px;
    text-align: center;
    font-family: 'Hahmlet', serif;
    font-size: 20px;
    height: 100px;
  }
  .navbar{
    background-color:#B8226A ;
  }
  .contenedor-principal-texto{
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .img-cuadricula{
    display: none;
    visibility: hidden;
  }
  .botones-inicio{
    height: 100px;
    margin: 10px 0 5px 0;
  }
  .contendor-boton{
    display: flex;
    justify-content: center;
    border-radius: 80px;
    box-shadow: 0px 6px 4px rgba(199, 48, 111, 0.705);
    box-shadow: #B8226A;
    height: 80px;
    width: 80px;
    margin: auto;
    background-color: #B8226A;
    align-items: center;
  }
  .boton-inicio-img{
    height: 70px;
    width: 70px;
    justify-content: center;
    border: 3px dotted #FFA041;
    background-color: #B8226A;
    border-radius: 80px;
    box-shadow: 0px 4px 4px #B8226A(0, 0, 0, 0.3);
  }
  .titulo-boton{
    font-size: 30px;
    text-align: center;
    font-family: 'Italianno';
    font-weight: 600;
    color: #4B102D;
    margin: 0;
    text-decoration: none;
  }
  .titulo-boton:hover{
    color: #FFA041;
  }
  .contenedor-texto{
    height: 60px;
    text-align: center;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
    visibility: hidden;
  }
}