@import url('https://fonts.googleapis.com/css2?family=Italianno');

.delivery{
  height: auto;
  width: 100%;
}

@media (max-width: 768px) {
  
  .carrusel-inicio {
    width: 100vw;
    height: auto;
  }
  .caja-texto-mobile{
    color:#4B102D ;
    padding: 0 20px 0 20px;
    margin: 20px 0 20px 0;
    text-align: center;
    font-family: 'Hahmlet', serif;
    font-size: 4vw;
    height: fit-content;
  }
  .caja-texto {
    display: none;
    visibility: hidden;
  }
  .navbar{
    background-color:#B8226A ;
  }
  .contenedor-principal-texto{
    padding: 0;
  }
  .img-cuadricula{
    height: auto;
    width: 100vw;
  }
  .botones-inicio{
    height: 55px;
    margin: 10px 0 5px 0;
    width: 100%;
    padding-top: 30px;

  }
  .contendor-boton{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0px 6px 4px rgba(199, 48, 111, 0.705);
    box-shadow: #B8226A;
    height: 50px;
    width: 50px;
    margin: auto;
    background-color: #B8226A;
    align-items: center;
  }
  .boton-inicio-img{
    height: 40px;
    width: 40px;
    justify-content: center;
    border: 3px dotted #FFA041;
    background-color: #B8226A;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #B8226A(0, 0, 0, 0.3);
  }
  .texto-botones-inicio{
    margin: auto;
  }
  .titulo-boton{
    font-size: 30px;
    text-align: center;
    font-family: 'Italianno';
    font-weight: 500;
    color: #4B102D;
    margin: 0;
    text-decoration: none;
  }
  .titulo-boton:hover{
    color: #FFA041;
  }
  .contenedor-texto{
    height: 45px;
    text-align: center;
    padding-top: 22px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
    visibility: hidden;
  }
  .inicio-fondo{
    background-image: url('img/pastelitos-inicio.png');
background-repeat: repeat;

}

  

}

@media (min-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  .carrusel-inicio {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  .caja-texto{
    color:#4B102D ;
    margin: 40px 0 60px 0;
    padding: 0 50px 0 50px;
    text-align: center;
    font-family: 'Hahmlet', serif;
    font-size: 30px;
    font-weight: 500;
    height: 200px;
  }
  .caja-texto-mobile{
    display: none;
    visibility: hidden;
  }
  .navbar{
    background-color:#B8226A ;
  }
  .contenedor-principal-texto{
    
    padding: 0;
  }
  .img-cuadricula{
    height: auto;
    width: 100%;
    display: none;
    visibility: hidden;
  }
  .botones-inicio{
    height: 100px;
    margin: 50px 0 5px 0;
  }
  .contendor-boton{
    display: flex;
    justify-content: center;
    border-radius: 150px;
    box-shadow: 0px 6px 4px rgba(199, 48, 111, 0.705);
    box-shadow: #B8226A;
    height: 210px;
    width: 210px;
    margin: 10px auto;
    background-color: #B8226A;
    align-items: center;
  }
  .boton-inicio-img{
    height: 180px;
    width: 180px;
    justify-content: center;
    border: 3px dotted #FFA041;
    background-color: #B8226A;
    border-radius: 100px;
    box-shadow: 0px 4px 4px #B8226A(0, 0, 0, 0.3);
  }
  .texto-botones-inicio{
    margin: auto;
  }
  .titulo-boton{
    font-size: 7vh;
    text-align: center;
    font-family: 'Italianno';
    font-weight: 600;
    color: #4B102D;
    text-decoration: none;
  }
  .titulo-boton:hover{
    color: #FFA041;
  }
  .contenedor-texto{
    height: 60px;
    text-align: center;
    margin: 120px 0 0 0;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
    visibility: hidden;
  }
  .inicio-fondo{
  
    background-image: url('img/pastelitos-inicio.png');
background-repeat: repeat;
  }
}