
:root{
  --color-principal: #B8226A;
  --color-segundo: #F8E5DF;
  --color-tercero: #FFA041;
  --color-text:#4B102D;
  --texto-h1: 48px;
  --texto-h2: 30px;
  --texto-h3:15px;
  --texto-h4: 10px;
  --texto-parrafos:18px;
  --texto-btn:24px
}



body{
  line-height: 1.4;
}

footer {
  background-color: var(--color-principal);
  color:var(--color-segundo);
  font-size: 12px;
  padding-top: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: 'Khand', sans-serif;
  overflow: hidden;
}

p.datos-contacto{
  margin-top: 10px;
  margin-left: 10%;
}

@media (min-width: 992px){

  .alineacion{
    align-items: center;
   
   
    
  }

  .cuerpo-footer{
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    
  
  }

  div.contacto{
    padding-right: 30%;
  }

  div.iconos{
    margin: 0 auto;
    padding-left: 16%;
  }

  img.facebook{
    max-width: 57px;
    margin-left: 20px;

  }

  img.instagram{
    max-width: 50px;
    background-color: white;
    border-radius: 60px;
    margin-left: 20px;
  }

  img.sercotec{
    max-width: 75px;
    margin-left: 20px;
  }

  p.datos-contacto{
    font-size: 14px;
    font-family: 'Khand', sans-serif;
    text-align: left;
  }

}


@media (min-width: 768px) and (max-width: 991px){
  .alineacion{
    align-items: center;
    margin: 0 auto;
   
   
  }

  .cuerpo-footer{
    margin: 10px;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    max-width: 800px;
  
  }

  div.contacto{
    padding-right: 17%;
  }

  div.iconos{
    margin: 0 auto;
    align-items: end;
    padding-left: 20%;
  }

  img.facebook{
    max-width: 57px;
    margin-left: 10px;

  }

  img.instagram{
    max-width: 50px;
    background-color: white;
    border-radius: 60px;
    margin-left: 10px;
  }

  img.sercotec{
    max-width: 75px;
    margin-left: 10px;
  }

  p.datos-contacto{
    font-size: 13px;
    font-family: 'Khand', sans-serif;
    text-align: left;
  }
}

@media (max-width: 767px){
  .alineacion{
    align-items: center;
   width: 100%;

    
  }

  .cuerpo-footer{
    margin: 10px;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
  
  }

  .contacto{
    margin-left: 3%;

  }

  div.contacto.col{
    padding: 0px;
  }

  div.iconos{
    margin: 0 auto;
    align-items: end;
    padding-left: 18%;
  }

  img.facebook{
    display: none;
  }

  img.instagram{
    width: 44px;
    height: 44px;
    border-radius: 60px;
    background-color: white; 
  }

  img.sercotec{
    width: 67px;
    height: 47px;
    margin-left: 6px;
    
  }

  p.datos-contacto{
    font-size: 11px;
    font-family: 'Khand', sans-serif;
    text-align: left;
  }
}

/* Estilos para el texto de derechos de autor */
.text-center {
  font-size: 10px;
  text-align: center;
  
  
}
p.derechos{
  margin-bottom: 10px;
  font-size: 12px;
  font-family: 'Khand', sans-serif;
}