.carruselNosotros {
    display: flex;
    width: 100%;
    overflow-x:scroll;
     overflow-y:hidden;
  }
  
  .carruselNosotros img {
    max-width: 100%; /* Ajusta el ancho de las imágenes */
    height: auto;
  }
  
  
  
  
  
  