.banner {
    background-color: #f2f2f2;
    justify-content: center;
    background-size: auto;
    background-image: url('assets/img/elegante-banner-lineas-rojas-digitales-brillantes_1017-23964.avif');
  }
  
  
  .circle {
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    align-items: flex-start;
    background-size: contain ;
  }
  .img-nosotros{
    border:6px dashed #FFA041 ;
    padding: 6px;
    border-width: 10px;

    
    
  }
  
  .img-nosotros{
    width: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    align-items: flex-start;
    background-size: contain ;


  }
  
  .background {

    background-size: cover;
  
  
  }
  
  .abajo {
    text-align: center;
    color: #4B102D;
    text-size-adjust: 100% ;
    font-family: 'Italianno' ;
    font-size: 9vh;
    line-height: 57.6px;
    padding-top: 50px;
    
  
  }

.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .divider-image {
    width: 100%;
    position: relative;
 }
 
 .divider-image img {
    width: 100%;
    height: auto;
    display: block;

}
.descripcion{
text-align: center;
font-size: 3vh;
text-size-adjust: 100% ;
font-family: 'Hahmlet', serif;  
line-height: 3vh;
color: #4B102D;
}

.repostera{
  text-align: center;
  color: #4B102D;
  text-size-adjust: 100% ;
  font-family: 'Italianno' ;
  font-size: 9vh;
  line-height: 57.6px;
  padding-top: 50px;
  
} 
 
.separator {
  border: 3px dotted #FFA041; /* Puedes ajustar el grosor y el color de la línea según tus preferencias */
}