  .circle {
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    align-items: flex-start;
    background-size: contain ;
    
  }
  .img-nosotros{
    padding: 6px;
    border-width: 10px;

    
    
  }
  .pasteles{
    background-image: url('img/pastelitos-inicio.png');
  }
  
  .img-nosotros{
    width: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    align-items: flex-start;
    background-size: contain ;


  }
  
  .background {

    background-size: cover;
  
  
  }
  
  .abajo {
    text-align: center;
    color: #4B102D;
    font-family: 'Italianno' ;
    line-height: 57.6px;
    padding-top: 50px;
    margin-top: 14rem;
    margin-bottom: 0rem;
  }

.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .divider-image {
    width: 100%;
    position: relative;
 }
 
 .divider-image img {
    width: 100%;
    height: auto;
    display: block;

}
.descripcionNosotros{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#4B102D ;
  padding: 200px 250px 250px 250px;
  font-family: 'Hahmlet', serif;
  font-size: 35px;
  font-weight: 500;
  height: 200px;
  line-height:1.8;
}
.separator{
  display: inline-block;
  align-items: center;
  width: 100vw;
height: 3px;
background-color: #a41f5f63;
}

.repostera{
  text-align: center;
  color: #4B102D;
  font-family: 'Italianno' ;
  line-height: 57.6px;
  padding-top: 50px;

} 

 
@media (max-width: 768px) {

  .abajo{
    padding-top: 15px;
    font-size: 4rem;
  }
  .descripcionNosotros{
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5rem;
  }
  .repostera{
    padding-top: 5px;
    font-size: 4rem ;
  }
}


@media (min-width: 768px) {

  .abajo{
    padding-top: 20px;
    font-size: 5rem;
  }
  .descripcionNosotros{
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5rem;
  }
  .repostera{
    padding-top: 5px;
    font-size: 4rem ;
  }
  .circle{
    width: 75%;
  }
}


@media (min-width: 1024px) {

  .abajo{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 5rem;
  }
  .descripcionNosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#4B102D ;
    padding: 250px 250px 250px 250px;
    font-family: 'Hahmlet', serif;
    font-size: 35px;
    font-weight: 500;
    height: 200px;
    line-height:1.8;

  }
  
  .repostera{
    padding-top: 5px;
    font-size: 5rem ;
  }
  .circle{
    width: 40%;
    margin-top: 10px;
  }

}
