@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .container-admin {
        flex-wrap: wrap;
    }
    .funcionesAdmin{
        display: none;
        visibility: hidden;
    }
    
    .box {
        flex: 1 1 300px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    
    .img-admin {
        max-width: 15%;
        max-height: 15%;
        margin-right: 5%;
    }
    
    
    
    #Salir {
        background-color: #b8226a; /* Color de fondo para el section "Salir X" */
        padding: 1%; /* Agregamos un relleno para dar espacio al contenido */
        text-align: center; /* Centramos el contenido dentro del section */
        color: #fff; /* Color del texto dentro del section "Salir X" */
        font-size: 2em;
        text-size-adjust: 100% ;
    
    }
    
    #Administrador {
        background-color: #b8226a; /* Color de fondo para el section "Administrador" */
        padding: 1%; /* Agregamos un relleno para dar espacio al contenido */
        text-align: center; /* Centramos el contenido dentro del section */
        color: #ffffff; /* Color del texto dentro del section "Salir X" */
        font-size: 2em;
        text-size-adjust: 100% ;
    
    } 
    .texto-admin {
        flex: 1 1 300px;
        margin: 10px;
        padding: 10px;
        border: 5px dotted #c59898; /* Border punteado con color #c59898 */
        border-radius: 10px;
        display: flex;
        align-items: center;
        max-width: 100%;
        max-height: 15%;
    
    }
    .titulo-admin {
        font-size: 14px;
        margin: auto;
    
    }
    .boton-admin{
        border: 0;
    }
    .boton-admin:hover{
    
        .titulo-admin{
            font-size: 15px;
            margin: auto;
        }
        .img-admin {
            max-width: 17%;
            max-height: 17%;
        }
    }

}
@media (min-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .Contenedor-admin-general{
        display: flex;
        flex-direction: row;
    }
    .funcionesAdmin{
        height: 100%;
        width: 100%;
    }
    .contenedorModalAdmin{
        display: none;
        visibility: hidden;
    }
    
    .container-admin {
        display: flex;
        flex-wrap: wrap;
        min-height: 69vh;
        width: 400px;
        margin: 50px 0 50px 0;
    }
    
    .box {
        flex: 1 1 300px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    
    .img-admin {
        max-width: 10%;
        max-height: 10%;
        margin-right: 1%;
    }
    #Salir {
        background-color: #b8226a; /* Color de fondo para el section "Salir X" */
        padding: 1%; /* Agregamos un relleno para dar espacio al contenido */
        text-align: center; /* Centramos el contenido dentro del section */
        color: #fff; /* Color del texto dentro del section "Salir X" */
        font-size: 2em;
        text-size-adjust: 100% ;
    
    }
    
    #Administrador {
        background-color: #b8226a; /* Color de fondo para el section "Administrador" */
        padding: 1%; /* Agregamos un relleno para dar espacio al contenido */
        text-align: center; /* Centramos el contenido dentro del section */
        color: #ffffff; /* Color del texto dentro del section "Salir X" */
        font-size: 2em;
        text-size-adjust: 100% ;
    
    } 
    .texto-admin {
        flex: 1 1 300px;
        margin: 10px;
        padding: 10px;
        border: 5px dotted #c59898; /* Border punteado con color #c59898 */
        border-radius: 10px;
        display: flex;
        align-items: center;
        max-width: 100%;
        max-height: 15%;
    
    }
    .titulo-admin {
        font-size: 14px;
        font-weight: 600;
        margin: auto;
    
    }
    .boton-admin{
        border: 0;
    }
    .boton-admin:hover{
    
        .titulo-admin{
            font-size: 15px;
            margin: auto;
        }
        .img-admin {
            max-width: 15%;
            max-height: 15%;
        }
    }
}