@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
 
  body{
    width: 100%;
    height: 100%;
    background-image: url("img\pastelitos-inicio.png");
  }
  
  
  @media (max-width: 768px) {
    .delivery{
      height: auto;
      width: 100%;
    }
    .titulo-productos {
      font-family: 'Italianno';
      font-size: 50px;
      font-weight: 500;
      color: #4B102D;
    }
    .imagen-principal{
      height: 100%;
      width: 70%;
    }
    .carrusel-image {
      min-height: 500px;
      width: 100%;
    }
    .carrusel-item{
      padding: 0;
    }
    .botones {
      border-top: 6px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 600;
      font-size: 11px;
      color: #4B102D;
      padding: 0;
      width: 100%;
      height: 30px;
    }
    .boton-activo{
      border: 0;
      border-top: 4px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 600;
      font-size: 11px;
      color: #4B102D;
      padding: 0;
      width: 100%;
      height: 30px;
    }
    .boton-agregar-carrito{
      background-color: #B8226A ;
      border: 1px solid #e466a3;
      color: #F8E5DF;
      font-weight: 600;
      padding: 6px;
      display: flex;
      align-items: center;
      height: 25px;
      font-size: 11px;
      border-radius: 30px;
      margin: 0;
    }
    .boton-agregar-carrito:hover{
      background-color: #B8226A ;
      border: 2px solid #e466a3;
      color: #F8E5DF;
      font-weight: 700;
      padding: 6px;
      display: flex;
      align-items: center;
      height: 25px;
      font-size: 12px;
      border-radius: 30px;
      margin: 0;
    }
    .card {
      font-family: 'Poppins', sans-serif;
      text-align: justify;
      margin: 5px;
      color: #4B102D;
      width: 90%;
      border: 0;
    }
    .btn.detalle{
      display: flex;
      font-size: 11px;
      font-weight: 600;
      margin: 0 0 0 10px;
      padding: 2px 8px 2px 8px;
      width: fit-content;
      background-color: #FFA041;
      border-radius: 30px;
      border: 0;
    }
    .btn.detalle:hover {
      font-size: 11px;
      font-weight: 700;
      margin: 0 0 0 10px;
      padding: 2px 12px 2px 12px;
      width: fit-content;
      background-color: #FFA041;
      border-radius: 30px;
      border: 0;
    }
    .precio {
      font-size: 14px;
      margin: 0;
      font-weight: 600;
    }
    .card-text.porciones {
      margin-left: 20px;
      font-size: 13px;
    }
    .card-title {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      padding: 0 0 5px 20px;
    }
    .img-container {
      border-radius: 10px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      border: 2px solid white;
    }
    .card {
      border-radius: 10px;
    }
    
    .col-producto {
      padding: 2px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
    }
    #imagen-card {
      height: 100px;
      width: 100%;
    }
    .card-img-top{
      background-color: white;
    }
    .precio-agregar{
      margin: 0 0 0 20px;
    }
    .productos-fondo{
      background-image: url('./public/img/pastelitos-inicio.png');
    }
    .carrusel-producto{
      height: 300px;
    }
    .contenedor-carrusel-producto{
      margin: 122px 0;
      height: 300px;
    }

  }

  @media (min-width: 768px) {
    .delivery{
      height: auto;
      width: 100vw;
      margin-bottom: 40px;
    }
    .titulo-productos {
      font-family: 'Italianno';
      font-size: 100px;
      font-weight: 500;
      color: #4B102D;
    }
    .imagen-principal{
      height: 200px;
      width: 200px;
    }
    .botones {
      border-top: 6px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 500;
      font-size: 25px;
      color: #4B102D;
      padding: 0 0 10px 0;
      margin-bottom: 10px;
      height: 40px;
      width: 100%;
    }
    .boton-activo{
      border: 0;
      border-top: 3px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 600;
      font-size: 25px;
      color: #4B102D;
      padding: 0;
      width: 100%;
      height: 40px;
    }
    .boton-activo:hover{
      border: 0;
      border-top: 3px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 600;
      font-size: 25px;
      color: #4B102D;
      padding: 0;
      width: 100%;
      height: 40px;
    }
    .botones:hover{
      border: 0;
      border-top: 3px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 500;
      font-size: 25px;
      color: #4B102D;
      padding: 0;
      width: 100%;
      height: 40px;
    }
    .boton-activo:active{
      border: 0;
      border-top: 3px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 600;
      font-size: 25px;
      color: #4B102D;
      padding: 0;
      width: 100%;
      height: 40px;
    }
    .botones:active{
      border: 0;
      border-top: 3px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 500;
      font-size: 25px;
      color: #4B102D;
      padding: 0;
      width: 100%;
      height: 40px;
    }
    .boton-agregar-carrito {
      background-color: #B8226A ;
      color: #F8E5DF;
      font-weight: 500;
      padding: 10px;
      display: flex;
      align-items: center;
      height: 35px;
      font-size: 0.9vw;
      border-radius: 30px;
      
    }
    .boton-agregar-carrito:hover {
      background-color: #B8226A ;
      color: #F8E5DF;
      font-weight: 600;
      padding: 10px;
      display: flex;
      align-items: center;
      height: 35px;
      font-size: 0.83vw;
      border-radius: 30px;
      

    }
    .card {
      border-radius: 10px;
      font-family: 'Poppins', sans-serif;
      text-align: justify;
      margin: 5px;
      color: #4B102D;
      width: 70%;
      border: 0;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .btn-detalle {
      display: flex;
    }
    .btn.detalle {
      font-size: 0.8vw;
      font-weight: 600;
      margin: 0 0 5px 20px;
      padding: 3px 9px;
      width: fit-content;
      background-color: #FFA041;
      border-radius: 30px;
    }
    .btn.detalle:hover {
      font-size: 0.75vw;
      font-weight: 900;
      margin: 0 0 5px 20px;
      padding: 3.8px 6px;
      width: fit-content;
      background-color: #FFA041;
      border-radius: 30px;
    }
    .precio {
      font-size: 1.2vw;
      margin: 0;
      font-weight: 600;
    }
    .porciones {
      margin-left: 20px;
      font-size: 1.1vw;
    }
    .card-title {
      font-size: 1.3vw;
      font-weight: bold;
      margin: 0;
      padding: 0 0 5px 20px;
    }
    .img-container {
      border-radius: 10px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      border: 2px solid white;
      display: flex;
      flex-direction: column;
    }
    .col-producto {
      padding: 2px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
    .carrusel-contenedor, .carrusel-producto {
      height: 600px;
      width: 1200px;
      border-radius: 40px;
      justify-content: center;
      margin: auto;
    }
    .card-img-top {
      background-color: white;
      height: 187.5px;
      width: 100%;
    }
    #contenedor-card{
      margin-bottom: 20px;
    }
    .productos-fondo{
      background-image: url('img/fondo-cupcakes.jfif');
    }
    .precio-agregar{
      margin: 0 20px 0 20px;
    }

   
  }
  