@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
 

  @media (max-width: 768px) {
    h3 {
      font-family: 'Italianno';
      font-size: 50px;
      font-weight: 500;
      color: #4B102D;
    }
    .imagen-principal{
      height: 100%;
      width: 70%;
    }
    .carrusel-image {
      min-height: 500px;
      width: 100%;
    }
    .carrusel-item{
      padding: 0;
    }
    .botones {
      border-top: 5px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 500;
      font-size: 13px;
      color: #4B102D;
      padding: 0;
      width: 100%;
      height: 25px;
    }
    .boton-activo{
        border-top: 5px solid #B8226A;
        border-radius: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        background-color: #F8E5DF;
        font-family: 'Hahmlet';
        font-weight: 500;
        font-size: 13px;
        color: #4B102D;
        padding: 0;
        width: 100%;
        height: 25px;
    }
    .boton-agregar {
      background-color: #B8226A ;
      color: #F8E5DF;
      font-weight: 600;
      padding: 0;
      display: flex;
      align-items: center;
      height: fit-content;
    }
    
    .card {
      font-family: 'Poppins', sans-serif;
      text-align: justify;
      margin: 5px;
      color: #4B102D;
      width: 90%;
      border: 0;
    }
    .btn-detalle {
      display: flex;
    }
    .detalle {
      font-size: 2.5vw;
      font-weight: 900;
      margin: 0 0 0 10px;
      padding: 0 3px 0 3px;
      width: fit-content;
      background-color: #FFA041;
      border-radius: 30px;
    }
    .precio {
      font-size: 12px;
      margin: 0;
      font-weight: 600;
    }
    .card-text.porciones {
      margin-left: 20px;
      font-size: 13px;
    }
    .card-title {
      font-size: 3vw;
      font-weight: bold;
      margin: 0;
      padding: 0 0 5px 20px;
    }
    .img-container {
      border-radius: 10px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      border: 2px solid white;
    }
    .card {
      border-radius: 10px;
    }
    .boton-agregar{
      font-size: 15px;
      border-radius: 30px;
    }
    .col-producto {
      padding: 2px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
    }
    #imagen-card {
      height: 100px;
      width: 100%;
    }
    .card-img-top{
      background-color: white;
    }
    
  }

  @media (min-width: 768px) {
    h3 {
      font-family: 'Italianno';
      font-size: 100px;
      font-weight: 500;
      color: #4B102D;
    }
    
    .imagen-principal{
      height: 200px;
      width: 200px;
    }
  
    .botones {
      border-top: 5px solid #B8226A;
      border-radius: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 500;
      font-size: 25px;
      color: #4B102D;
      padding: 0 0 10px 0;
      margin-bottom: 10px;
      height: 40px;
      width: 100%;
    }
    .botones:hover {
      border-top: 5px solid #B8226A;
      border-radius: 30px;
      background-color: #F8E5DF;
      font-family: 'Hahmlet';
      font-weight: 600;
      font-size: 25px;
      color: #4B102D;
      padding: 0;
      height: 43px;
      width: 100%;
    }
    .boton-agregar {
      background-color: #B8226A ;
      color: #F8E5DF;
      font-weight: 500;
      padding: 2px;
      display: flex;
      align-items: center;
      height: 35px;
    }
    
    .card {
      border-radius: 10px;
      font-family: 'Poppins', sans-serif;
      text-align: justify;
      margin: 5px;
      color: #4B102D;
      width: 70%;
      border: 0;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .btn-detalle {
      display: flex;
    }
    .detalle:hover{
      font-size: 17px;
      font-weight: 900;
      margin: 0 0 0 20px;
      padding: 0 3px 0 3px;
      width: fit-content;
      background-color: #FFA041;
      border-radius: 30px;
    }
    .detalle {
      font-size: 15px;
      font-weight: 900;
      margin: 0 0 0 20px;
      padding: 0 3px 0 3px;
      width: fit-content;
      background-color: #FFA041;
      border-radius: 30px;
    }
    .precio {
      font-size: 25px;
      margin: 0;
      font-weight: 600;
    }
    .porciones {
      margin-left: 20px;
      font-size: 1.3vw;
    }
    .card-title {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      padding: 0 0 5px 20px;
    }
    .img-container {
      border-radius: 10px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
      background-color: #F8E5DF;
      border: 2px solid white;
      display: flex;
      flex-direction: column;
      
    }
    
    .boton-agregar{
      font-size: 1.5vw;
      border-radius: 30px;
    }
    .col-producto {
      padding: 2px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
    .img-fluid {
      height: 150px;
      min-width: 100%;
    }
    .card-img-top {
      background-color: white;
      height: 187.5px;
      width: 100%;
    }
    

   
  }
  