@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

.superContainer {
    font-family: 'Katibeh', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 0px;
    max-width: 600px;
    margin: 0px auto;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
  }
  
  .sideA,
  .sideB {
    flex: 1;
    padding: 30px;
    
  }
  
  .sideA {
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    background: rgb(161,0,75);
    background: linear-gradient(180deg, rgba(161,0,75,1) 60%, rgba(161,0,78,1) 100%);
  }
  
  .sideB {
    background-color: #f0f0f0;
    border-radius: 0 10px 10px 0;
  }
  
  h1 {
    text-align: center;
    color:#ffffff;
  }
  
  p {
    text-align: center;
    margin-bottom: 10px;
    color:#ffffff;
  }
  
  input,
  button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    color:#ffffff;
  }
  
  a {
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }

  button {
    border-radius: 25px;
    border-color: white;
    background: rgb(161,0,75);
    background: linear-gradient(180deg, rgba(161,0,75,1) 60%, rgba(161,0,78,1) 100%);
  }

  input {
    color:#000000
  }

  .sideB--header h1 {
    color: rgb(0, 0, 0);
  }

  .sideB h1 {
    color:#000000;
  }

  .sideB p {
    color: #000000;
  }



  /* Nuevos estilos para la vista responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 700px;
    border-top: 10p;
    .sideA{border-radius: 10px 10px 00px 00px;}
  }
}