:root{
    --color-principal: #B8226A;
    --color-segundo: #F8E5DF;
    --color-tercero: #FFA041;
    --color-text:#4B102D;
    --texto-h1: 48px;
    --texto-h2: 30px;
    --texto-h3:15px;
    --texto-h4: 10px;
    --texto-parrafos:18px;
    --texto-btn:24px
}

.modal-content {
    border-radius: 30px;
}

.modal-body {
    padding: 0 0 20px 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(255,182,109);
    background: linear-gradient(180deg, rgba(255,182,109,0.4738270308123249) 66%, rgba(255,160,65,1) 100%);
    color: var(--color-text);
    border-radius: 30px;

}

@media (max-width: 768px) {
    body,html{
        height: 100%;
    }
    .mitad-arriba {
    width: 100%;
    height: 50%;
    background-color:var(--color-segundo); /* Color para la mitad arriba */
    border-radius: 0 0 40px 40px;
    }
    .boton-flecha {
        background-color:var(--color-segundo);
        border: none;
    }
    .btn-medidas {
        padding: 0;
    }

    img.kuchen{
    max-width: 190px;
    max-height: 160px;
    display: block;
    margin: 0 auto;
    z-index: 0;

    }

    .contenedor {
    display: flex;
    justify-content: space-between; /* Distribuye los divs alineados a la izquierda y derecha */
    width: 100%;
     /* Altura de la sección */
    
    }

    .izquierda, .derecha {
    width: 50%; /* Ancho de los divs */
    
    }

    .izquierda { 
    text-align: left; /* Alineación de contenido a la izquierda */
    font-family: 'Hahmlet', serif;
    text-align: center;
    align-items: left;
    }   

    .derecha {
    text-align: right; /* Alineación de contenido a la derecha */
    }

    .medidas{
    background-color: var(--color-tercero);
    border-radius: 40px;
    width: 100px;
    height: 28px;  
    color: white;
    font-family: 'Kenia', cursive;
    text-align: center;
    font-size: 13px;

    }
    img.corazon{
        margin-right: 5px;
        width: 27px;
        height: 26px;
    }
    .derecha{
        font-family: 'Hahmlet', serif;
        font-size: 24px;
        padding-right: 10px;
    }
    

    .mitad-abajo {
        width: 100%;
        height: 50%;
        font-family: 'Hahmlet', serif;
        
        }

        p.titulo{
            text-align: center;
            font-family: 'Italianno', cursive; ;
            font-size: 40px;
            margin: 10px 0 10px 0;
            padding-bottom: 0;
        }
        p.descripcion{
            text-align: center;
            margin-bottom: 0 ;
            font-size: 20px;
        }
        .item-lista{
            margin-top: 5px;
            list-style-type: none;
            font-size: 13px;
            padding-left: 40px;
        }
        .item-lista-titulo{
            margin-top: 10px;
            list-style-type: none;
            font-size: 17px;
            padding-left: 40px;
        }
        .btn-carrito{
            background-color: var(--color-principal);
            border-radius: 50px;
            width: 170px;
            height: 41px;
            color: white;
            font-family: 'Jockey One', sans-serif;
            font-size: 24px;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            text-align:left;
            justify-content: center;
            display: flex;        
            align-items: center;
            flex-wrap: nowrap;
            
        }
        .porciones{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding: 0;
            font-size: 20px;
        }
        img.carrito{
            width:31px ;
            position: absolute;
            
            
        }        
        
}

@media (min-width: 768px){
    .mitad-arriba {
        width: 100%;
        height: 50%;
        background-color:var(--color-segundo); /* Color para la mitad arriba */
        border-radius: 0 0 40px 40px;
    }
    .boton-flecha {
        background-color:var(--color-segundo);
        border: none;
    }
    .btn-medidas {
        padding: 0;
    }

    img.flecha{
        height:50px;
        width: 50px;
        margin-top: 43px;
        margin-left: 26px;
        top: 50%; /* Alinea la flecha en el centro vertical */
        left: 0; /* Alinea la flecha en el lado izquierdo */
        z-index: 1; 
        top: 70%;
            
    }

    img.kuchen{
        max-width: 200px;
        max-height: 300px;
        display: block;
        margin: 0 auto;
        z-index: 0;
        
    }

    .contenedor {
        display: flex;
        justify-content: space-between; /* Distribuye los divs alineados a la izquierda y derecha */
        width: 100%;
         /* Altura de la sección */
        
    }

    .izquierda, .derecha {
        width: 50%; /* Ancho de los divs */
        
    }
    .izquierda {
        text-align: left; /* Alineación de contenido a la izquierda */
        font-family: 'Hahmlet', serif;
        text-align: center;
        align-items: center;
    }   
    
    .derecha {
        text-align: center; /* Alineación de contenido a la derecha */
    }

    .medidas{
        background-color: var(--color-tercero);
        border-radius: 40px;
        width: 100px;
        height: 28px;
        margin: 0 auto;
        color: white;
        font-family: 'Kenia', cursive;
        text-align: center;
        font-size: 10px;
    
    }
    img.corazon{
        margin: 0 auto;
        width: 27px;
        height: 26px;
    }

    .derecha{
        font-family: 'Hahmlet', serif;
        font-size: 22px;
    }

    .mitad-abajo {
        width: 100%;
        height: 50%;
        font-family: 'Hahmlet', serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }

    p.titulo{
        text-align: center;
        font-family: 'Italianno', cursive; ;
        font-size: 50px;
        margin: 0;
        padding: 0;

    }
    p.descripcion{
        text-align: center;
        margin-bottom: 0 ;
        font-size: 25px;
    }
    .medidas-productos{
        text-align: left;
        font-size: 15px;
    }

    .item-lista{
        list-style-type: none;
        font-size: 20px;
    }

    .btn-carrito{
        background-color: var(--color-principal);
        border-radius: 50px;
        width: 150px;
        height: 41px;
        color: white;
        font-family: 'Jockey One', sans-serif;
        font-size: 14px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: auto;
    }
    
    img.carrito{
        width:31px ;
        position: relative;
    }

    /* .medidas-productos{
        margin-left: 170px;
    } */
        
}    