.carousel-image {
    height: 300px; 
    max-height: 500px;
    object-fit: cover;
  }
  
  .contenedor-principal-texto{
    background-image: url(./assets/img/fondo-pasteles.jfif);
    
    object-fit: cover;
  }
.caja-texto{
    color:#4B102D ;
}