
:root{
    --color-principal: #B8226A;
    --color-segundo: #F8E5DF;
    --color-tercero: #FFA041;
    --color-text:#4B102D;
    --texto-h1: 48px;
    --texto-h2: 30px;
    --texto-h3:15px;
    --texto-h4: 10px;
    --texto-parrafos:18px;
    --texto-btn:24px
  }



body{
    background-color: #FFFFFF;
    height: 100%;
    
    
}

.administrador{
    background: rgb(160,0,77);
    background: linear-gradient(180deg, rgba(160,0,77,0.8407738095238095) 60%, rgba(161,0,78,1) 100%); 
    width: 100%;
    height: 70px;
    border-bottom: 1px solid transparent; /* Añade un borde inferior transparente para crear espacio para la sombra */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega la sombra en el borde inferior */
    padding-bottom: 10px; /* Opcional: Añade espacio para la sombra */
 
  

}

.salir{
    background: rgb(160,0,77);
    background: linear-gradient(180deg, rgba(160,0,77,0.8407738095238095) 60%, rgba(161,0,78,1) 100%);
    height: 70px;
    width: 100%;
    border: 0;
    border-top: 1px solid transparent; /* Añade un borde superior transparente para crear espacio para la sombra */
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2); /* Agrega la sombra en el borde superior */
    padding-top: 10px; /* Opcional: Añade espacio para la sombra */

}

h3.titulo{
    margin: 10px auto;
    font-size: 3rem;
    overflow: hidden;
    font-family: 'Italianno', cursive;
    color: var(--color-text);
}

.banner-administrador{
    font-family: 'Katibeh', cursive;
    height: 60px;
    font-size: 2rem;
    color:white;
    text-decoration: none;    
}


div.titulo-admi{
    width: 90%;
    margin: 0 auto;
}



#formulario-admi{
    width: 90%;
    margin: 0 auto;
    font-family: 'Katibeh', cursive;
    font-size: larger;
    font-size: 1.7rem;
    color:var(--color-text);

}

input[type="submit"] {
    background-color: var(--color-principal);
    border-color: var(--color-principal);

 }
 .boton-agregar{
    display: flex;
    align-items: center;
    border-color: var(--color-principal);
    height: 50px;
    margin: 20px auto ;
    background-color: #B8226A;
    font-size: 3vh;
    border-radius: 30px;
    
}
.boton-agregar:hover{
    display: flex;
    align-items: center;
    border-color: var(--color-principal);
    height: 50px;
    margin: 20px auto ;
    background-color: #B8226A;
    font-size: 3vh;
}
 @media (min-width: 768px) {
.boton-agregar{
    display: flex;
    align-items: center;
    border-color: var(--color-principal);
    height: 50px;
    margin: 0 auto ;
    background-color: #B8226A;
    font-size: 25px;
    border-radius: 30px;
    
}
.boton-agregar:hover{
    display: flex;
    align-items: center;
    border-color: var(--color-principal);
    height: 50px;
    margin: 0 auto ;
    background-color: #B8226A;
    margin: 20px 0 20px 0;
    font-size: 25px;
}

.div-boton-accion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    margin: 0 auto;
}
.columna-grande {
    display: flex;
    margin-top: 0;
    height: 66px;
}
.titulo-admi .col-6 {
    height: 66px;
    display: flex;
    padding: 0 0 0 8px;
}


#input-nombre{
    height: 50px;
    width: 750px;
    font-size: 20px;
    margin-top: 16px;
}
#input-descripcion{
    height: 50px;
    width: 750px;
    font-size: 20px;
    margin-top: 16px;
}
#input-porcion1, 
#input-porcion2, 
#input-porcion3,
#input-porcion4,
#input-porcion5{
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin: 16px 0 0 0;
}
#input-precio1,
#input-precio2,
#input-precio3,
#input-precio4,
#input-precio5{
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin-top: 16px;
}
#input-diametro {
    height: 50px;
    width: 285px;
    padding: 6px 0 6px 12px;
    font-size: 20px;
    margin: 16px 0 0 0;
}
#input-precio{
    height: 50px;
    width: 285px;
    font-size: 20px;
    margin-top: 16px;
}
#input-imagen{
    height: 50px;
    font-size: 20px;
    width: 750px;
    margin-top: 16px;
}
#input-descripcion-img{
    height: 50px;
    width: 750px;
    font-size: 20px;
    margin-top: 16px;
}
#select-id{
    height: 50px;
    width: 750px;
    font-size: 20px;
    margin-top: 16px;
}
#modify-value{
    height: 50px;
    width: 750px;
    font-size: 20px;
    margin-top: 16px;
}
#selected-id{
    height: 50px;
    width: 750px;
    font-size: 20px;
    margin-top: 16px;
}
.etiqueta-grande{
    margin: 0 20px 0 0;
    width: 200px;
    height: 50px;
    margin-top: 16px;
    font-size: 24px;
}
.etiqueta-pequeña{
    width: 100px;
    height: 50px;
    margin-top: 16px;
    font-size: 24px;
}
 }




