@media (max-width: 768px){
  .img-tabla{
  height: 30px;
  width: 30px;
  }
  th{
    font-size: 10px;
  }
  td{
  font-size: 10px;
  }
  ul{
    padding: 0;
  }
  li {
    font-size: 10px;
    padding: 0;
  }
  .diametro{
    text-align: center;
  }
  .table > :not(caption) > * > * {
    padding: 0 5px 0 5px;
    height: 20px;
  }
}
@media (min-width: 768px){
  .cuerpo-formulario{
    height: 30vh;
  }
  .img-tabla{
    height: 50px;
    width: 50px;
    }
    th{
      font-size: 3vh;
    }
    td{
    font-size: 2vh;
    }
    .table > :not(caption) > * > * {
      padding: 0; 
      height: 20px;
      padding: 0 10px 0 10px;
    }
}